@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 8% 11%;
    --foreground: 30 5% 95%;
    --card: 28 8% 11%;
    --card-foreground: 30 5% 95%;
    --popover: 28 8% 11%;
    --popover-foreground: 30 5% 95%;
    --primary: 30 76% 56%;
    --primary-foreground: 30 5% 95%;
    --secondary: 29 27% 49%;
    --secondary-foreground: 30 5% 95%;
    --muted: 29 27% 49%;
    --muted-foreground: 30 5% 75%;
    --accent: 29 27% 49%;
    --accent-foreground: 30 5% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 30 5% 95%;
    --border: 29 27% 49%;
    --input: 29 27% 49%;
    --ring: 30 76% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 29 10% 8%;
    --foreground: 30 5% 95%;
    --card: 29 10% 8%;
    --card-foreground: 30 5% 95%;
    --popover: 29 10% 8%;
    --popover-foreground: 30 5% 95%;
    --primary: 30 76% 46%;
    --primary-foreground: 30 5% 98%;
    --secondary: 29 15% 18%;
    --secondary-foreground: 30 5% 98%;
    --muted: 29 15% 18%;
    --muted-foreground: 30 5% 64.9%;
    --accent: 29 15% 18%;
    --accent-foreground: 30 5% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 29 15% 18%;
    --input: 29 15% 18%;
    --ring: 30 76% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
